.button {
    -fx-cursor: hand; /* Change le curseur en main sur hover */
}

.table-column-header {
    -fx-border-color: transparent black black transparent; /* Bordure uniquement en bas */
    -fx-border-width: 0 2 2 0; /* Épaisseur de la bordure uniquement en bas */
    -fx-background-color: white; /* Fond blanc */
    -fx-font-size: 16;
}
.table-column-header-last {
    -fx-border-color: transparent transparent black transparent; /* Bordure uniquement en bas */
    -fx-border-width: 0 0 2 0; /* Épaisseur de la bordure uniquement en bas */
    -fx-background-color: white; /* Fond blanc */
    -fx-font-size: 16;
}

.table{
    -fx-border-radius: 5;
    -fx-border-color: black;
    -fx-border-width: 2;
}
